body {background-color: black;}
#wrapper {
   width: 43%;
   margin: 50px auto;
   padding: 30px;
   color: aliceblue;
}
.accordion__title{
   width: 400px;
   padding: 10px;
   background-color: rgb(35, 17, 197);
   margin-bottom: 2px;
}

.accordion__content {
   width: 400px;
   position: relative;
   background: rgb(36,11,0);
   background: linear-gradient(29deg, rgba(36,11,0,0.6237088585434174) 0%, rgba(207,139,46,0.8982186624649859) 27%, rgba(174,151,108,1) 62%, rgba(255,173,0,1) 100%);
   overflow: hidden;
   transition: 1s all;
   height: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.accordion.active .accordion__content{
   height: 300px;
}
